includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: max

	paths:
		- src/php

	bootstrapFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
		- vendor/arts/elementor-stubs/elementor-stubs.php

	# Treat PHPDoc types as uncertain for better WordPress compatibility
	treatPhpDocTypesAsCertain: false
